.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
specs
temp
test/native/test_runner
test/native/cbor_native.o
test/native/openprinttag_lib.o
test/native/test_nfc_read_runner
test/build/test_openprinttag
test/build
test/build/test_openprinttag
test/integration/ha
test/native/test_lcd_manager_runner
test/native/test_debug_log_buffer_runner
test/native/test_bgcode_parser
test/native/test_bgcode_parser
test/integration/__pycache__/
test/integration/scenarios/__pycache__/
test/integration/__pycache__/mock_prusalink.cpython-312.pyc
test/integration/scenarios/__pycache__/__init__.cpython-312.pyc
test/integration/venv/
test/native/test_json_pull_helpers
test/native/test_json_pull_helpers_runner
